</div>
<div class="text-center">
    <img style="-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F1b%2Fb0%2F79787d704b998a0890ed321ad311%2F161213-chocolatestrawberries-stock.jpg&amp;f=1&amp;nofb=1" width="726/2" height="484/2">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form action="/trinkas/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <table>
                <tr>
                    <td>
                        <a class="nav-link dropdown-toggle" href="/trinkas/groups">Your Groups</a>
                    </td>

                    <td>
                        <div class="input-group rounded">
                            <form action="/trinkas/recipes/complexSearch">
                                <input type="search" class="form-control rounded" placeholder="Search Recipes..." aria-label="Search"
                                       aria-describedby="search-addon" name="name" />
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        <br>
    </div>
</div>
</div>