<html>
<head>
    <title>RECIPE</title>
</head>
<body>
<form action="/trinkas/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
<br>
<h1>Most Popular recipes: </h1>
{{#each results}}
    <h2>{{title}}</h2>
    <ul>
        <li>rid : {{rid}}</li>
        <li>calories : {{calories}}</li>
        <li>score : {{score}}</li>
    </ul>
{{/each}}
</body>
</html>