<html>
    <head>
        <title>RECIPE</title>
    </head>
    <body>
        <form action="/trinkas/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <br>
        <h1>Recipes: </h1>
        <table class="table">
            {{#each recipes}}
                <tr>
                    <td>{{title}}</td>
                    <td><a href={{details}} class="btn btn-primary">Details</a></td>
                </tr>
            {{/each}}
        </table>
    </body>
</html>